*{
    font-family: "Schoolbook";
}

@font-face {
    font-family: "Schoolbook";
    src: url("texgyreschola-regular.otf"),
         url("texgyreschola-italic.otf"),
         url("texgyreschola-bolditalic.otf"),
         url("texgyreschola-bold.otf");
    }


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.img{
    border: 20px solid green;
    width: 50%;
}

.btn{
    text-transform: uppercase;
    padding: 20px;
    

}

.play-button{  /*Fixa till knappen så att den är i mitten, ska inte ha en fixed position för att då blir det konstigt när man man "hover"*/
    color: green;
    position: fixed;
    right: 47%;
    /* left: 50%; */
    top: 60%;
    border: 5px solid green;
    font-size: 20px;
    border-radius: 8px;
    
}

.play-button:hover{
    filter: brightness(0.95);
    font-size: 25px;
}

.link-btn{
    color: green;
    text-decoration: none;
}